.navbar-brand {
    margin-left: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 280px 280px 280px;
}

.grid-item {
    padding: 10px;
    text-align: center;
    margin: 50px;
    padding: 20px;
    width: 80%;
    border: 2px solid slategray;

}
h1 {
    margin-left: 60px;
}
